<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SMS Bomber</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
   <link rel="stylesheet" href="{{config.baseUrl}}/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/jqvmap/jqvmap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

  <link rel="stylesheet" href="{{config.baseUrl}}/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="{{config.baseUrl}}/plugins/summernote/summernote-bs4.min.css">
  <link rel="shortcut icon" href="{{config.baseUrl}}/favicon.png">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{{config.baseUrl}}/logo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  {% include "backend/partials/header.njk" %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include "backend/partials/sidebar.njk" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% if error.length > 0 %}        
        <div class="callout callout-danger notifications">
          <p>{{ error | safe}}</p>
        </div>        
      {% endif %}
      {% if success.length > 0 %}
        <div class="callout callout-success notifications">
          {{ success | safe}}
        </div>
      {% endif %}

      
          
    {% block body %}{% endblock %}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include "backend/partials/footer.njk" %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{config.baseUrl}}/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{config.baseUrl}}/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{config.baseUrl}}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{config.baseUrl}}/plugins/select2/js/select2.full.min.js"></script>
<script src="{{config.baseUrl}}/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{config.baseUrl}}/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="{{config.baseUrl}}/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="{{config.baseUrl}}/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="{{config.baseUrl}}/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="{{config.baseUrl}}/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

<!-- ChartJS -->
<script src="{{config.baseUrl}}/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="{{config.baseUrl}}/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="{{config.baseUrl}}/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="{{config.baseUrl}}/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
<!-- jQuery Knob Chart -->
<script src="{{config.baseUrl}}/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="{{config.baseUrl}}/plugins/moment/moment.min.js"></script>
<script src="{{config.baseUrl}}/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{config.baseUrl}}/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="{{config.baseUrl}}/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="{{config.baseUrl}}/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="{{config.baseUrl}}/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<!-- <script src="dist/js/demo.js"></script> -->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{config.baseUrl}}/dist/js/pages/dashboard.js"></script>
<script src="{{config.baseUrl}}/pages/js/comman.js"></script>
</body>
<script>
  
</script>
</html>
