  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2018-2023 <a href="https://lottobets.co">Lottobets.co</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
	<!-- Modal -->
  <!--<div class="modal fade myModal2" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
		  <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
			<form class="edit form-horizontal" id="editlottoForm" name="editlottoForm" action="/edit" method="post">
				<input type="hidden" class="lottoId" name="lottoId" value="" />
				<div class="form-group">
					<label for="lottoName" class="col-sm-3 control-label">Lotto Name:</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control lottoName" id="lottoName" name="lottoName" />
					</div>
				</div>
				<br/>
				<div class="form-group">
					<label for="country" class="col-sm-3 control-label">Country:</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control country" id="country" name="country" />
					</div>
				</div>
				<br/>
				<div class="form-group">
					<label for="state" class="col-sm-3 control-label">State:</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control state" id="state" name="state" />
					</div>
				</div>
				<br/>
				<div class="form-group drawTime">
					<label for="drawTime" class="col-sm-3 control-label">Draw Time :</label><div class="col-sm-9"><input type="text" class="form-control drawTime" id="drawTime" name="drawTime" /></div>
				</div>
				<div class="form-group result">
					<label for="result" class="col-sm-3 control-label">Result :</label><div class="col-sm-9"><input type="text" class="form-control result" id="result" name="result" /></div>
				</div>
				<br/>
				<br/>
				<div class="form-group lottoLink">
					<label for="drawLink" class="col-sm-3 control-label">Watch URL :</label><div class="col-sm-9"><input type="text" class="form-control drawLink" id="drawLink" name="drawLink" /></div>
				</div>
				<br/>
				<div class="form-group lottoLink">
					<label for="liveURL" class="col-sm-3 control-label">LIVE URL :</label><div class="col-sm-9"><input type="text" class="form-control liveURL" id="liveURL" name="liveURL" /></div>
				</div>
				
				<button type="button" id="lottoSave" class="btn btn-default">Save</button>
			  </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
       <!-- </div>
      </div>
      
    </div>
  </div>-->
	<!-- Modal New -->
  <div class="modal fade myModal3" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
		  <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
			<form class="edit form-horizontal" id="lottoEditForm" name="lottoEditForm" action="/edit" method="post">
				<input type="hidden" class="lottoId" name="lottoId" value="" />
				<input type="hidden" class="type" name="type" value="" />
				
				<div class="form-group results" style="display:none;">
					<label for="result" class="col-sm-3 control-label">Result :</label><div class="col-sm-9"><input type="text" class="form-control result" id="result" name="result" /></div>
				</div>
				<br/>
				<div class="form-group watchLink" style="display:none;">
					<label for="drawLink" class="col-sm-3 control-label">Watch URL :</label><div class="col-sm-9"><input type="text" class="form-control drawLink" id="drawLink" name="drawLink" /></div>
				</div>
				<br/>
				<div class="form-group liveLink" style="display:none;">
					<label for="liveURL" class="col-sm-3 control-label">LIVE URL :</label><div class="col-sm-9"><input type="text" class="form-control liveURL" id="liveURL" name="liveURL" /></div>
				</div>
				
				<button type="button" id="lottoUpdate" class="btn btn-default"  data-dismiss="modal">Save</button>
				<!-- <button type="button" class="btn btn-danger close"  data-dismiss="modal">Close</button> -->
			  </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
      
    </div>
  </div>  

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<!-- <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script> -->
<!-- <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script> -->
<!-- <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script> -->
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- Page specific script -->
<script>
  $(function () {

    $("#example1").DataTable({
      dom: "Blfrtip","lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],"pageLength":25,"responsive": true, "lengthChange": true, "autoWidth": false,
      "oSearch": {
            "bSmart": false, 
            "bRegex": true,
            "sSearch": ""                
        },
		order: [[4, 'desc']],
      //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    
  });
</script>
</body>
</html>